/* CSS for local_config_tests/doc_with_local_config.md */
/* Referenced by doc_with_local_config.config.yaml */

body {
    background-color: #e6ffe6 !important; /* Light green background */
    border: 3px dashed darkgreen !important;
    padding: 5px; /* Add some padding to see the border clearly on small A6 */
}

h1 {
    color: darkgreen !important;
    font-style: italic !important;
    font-size: 18pt !important; /* Make it somewhat visible on A6 */
}

p {
    font-size: 8pt !important; /* Smaller for A6 */
    color: #004d00 !important; /* Darker green text */
}
